provider_installation {
  # filesystem_mirror {
  #   path    = "terraform.d/plugins"
  #   include = ["local/hfm/*"]
  #   # include = ["registry.terraform.io/petoju/*"]
  # }

   dev_overrides {
     "petoju/mysql" = "terraform.d/plugins/local/hfm/mysql/1.0.0/darwin_arm64"
   }
 }
